# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
ENV/

# Flask stuff
instance/
*.db
*.sqlite3

# Environment variables
.env
*.env

# Logs
*.log

# IDE / Editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

tools/
tests/