# --- Core Web Framework ---
Flask

# --- Database Connection ---
Flask-MySQLdb
mysqlclient

# --- Email Support ---
Flask-Mail

# --- Additional Features (Scheduler & PDF) ---
apscheduler
fpdf

# --- Core Dependencies (Flask Internals) ---
Werkzeug
itsdangerous
click
Jinja2
MarkupSafe
reportslab
qrcode
